final.json
{
  "name": "demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1212ab8f-5b3b-45b2-ba58-24e30f304a41",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -880,
        100
      ],
      "webhookId": "generated-id-123"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.commits[0] }}{{ $json.body.commits[0].message }}",
              "rightValue": "linked in post",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "9a8580fd-fb40-4f03-9970-e3b08b4c0d22"
            },
            {
              "id": "a76bb388-192e-43fb-96d7-743dc1329a9c",
              "leftValue": "={{ $json.commits ? $json.commits[0].message : ($json.body && $json.body.commits ? $json.body.commits[0].message : '') }}",
              "rightValue": "linked in post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b710d517-004c-4f78-aa5b-313adaac4df5",
      "name": "Check Commit Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -660,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.repository.url}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "dd189afa-8dfc-4269-951c-f00ba28d1f5e",
      "name": "Get Repository Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jHMieSg7wVU9jhf0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.owner.login}}/{{$json.name}}/readme\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6c0665b0-7492-4c37-b03b-ad28ce7f1181",
      "name": "Get README",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jHMieSg7wVU9jhf0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=New LinkedIn Post Generated!",
        "includeHtml": true,
        "htmlMessage": "={{$json.output_html}}",
        "message": "=",
        "toList": [
          "rohitrawal2334@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "8d881c35-b334-4adc-ae0b-dd746bd599f0",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1020,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4SNPLfU38WTqabMb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4f0bed92-4c82-459a-bcc1-b56ae8c52900",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1220,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"skipped\",\"reason\":\"Commit message missing trigger phrase\"}",
        "options": {}
      },
      "id": "6eafc442-67f3-48ca-8b31-269a67cc203d",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -460,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the base64-encoded content from the previous node\nconst content = $json.content;\n\n// Decode from base64 to UTF-8\nconst decoded = Buffer.from(content, 'base64').toString('utf-8');\n\n// Return the decoded content in a new field, keeping all original fields\nreturn [\n  {\n    json: {\n      readme_text: decoded\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -80
      ],
      "id": "45c35eb7-e045-4324-aa44-cf4ec0dd6e07",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        560,
        60
      ],
      "id": "80af335f-9055-40a0-b083-cd48219607dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        340
      ],
      "id": "b6b17c14-ea5e-47c6-80b4-5ac7b21624e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ivDd0PZFzvo4zvd4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code should be in the Code node after the Merge node\n\nconst readme = items[0].json;\nconst repo = items[1].json;\n\nconst repoName = repo.full_name || repo.name || '';\nconst repoDesc = repo.description || 'No description provided.';\nconst readmeText = readme.readme_text || 'No README content available.';\nconst repoUrl = repo.html_url || '';\nconst liveDemo = repo.homepage || '';\nconst githubHandle = repo.owner?.login ? `https://github.com/${repo.owner.login}` : '';\nconst linkedin = repo.owner?.linkedin || \"\";\nconst twitter = repo.owner?.twitter || \"\";\n\n// Extract first image URL from README (Markdown image syntax)\nlet screenshotUrl = '';\nconst imgMatch = readmeText.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (imgMatch && imgMatch[1]) {\n  screenshotUrl = imgMatch[1];\n  // Convert GitHub blob URL to raw URL if needed\n  if (screenshotUrl.includes('github.com') && screenshotUrl.includes('/blob/')) {\n    screenshotUrl = screenshotUrl.replace('github.com', 'raw.githubusercontent.com').replace('/blob/', '/');\n  }\n}\n\nlet linksSection = '';\nif (repoUrl) linksSection += `\\n🔗 [GitHub Repo](${repoUrl})`;\nif (liveDemo) linksSection += `\\n🚀 [Live Demo](${liveDemo})`;\nif (githubHandle) linksSection += `\\n👤 [My GitHub](${githubHandle})`;\nif (linkedin) linksSection += `\\n💼 [LinkedIn](${linkedin})`;\nif (twitter) linksSection += `\\n🐦 [Twitter/X](${twitter})`;\n\nconst prompt = `\nYou're a developer sharing a personal project update on LinkedIn.\n\nWrite a first-person, professional, and highly engaging LinkedIn post about my project \"${repoName}\".\n- Start with a catchy hook or emoji.\n- Use a friendly, enthusiastic, and authentic tone (use \"I\", \"my\", \"me\").\n- Briefly introduce the project and what excites me about it.\n- Summarize the key features or updates, using bullet points or short paragraphs if helpful.\n- Highlight any challenges overcome or lessons learned.\n- Encourage my network to check it out, give feedback, or connect.\n- End with a positive, forward-looking statement and relevant hashtags.\n\n**Project Description:** ${repoDesc}\n${linksSection ? `\\n${linksSection}` : ''}\n\n${screenshotUrl ? `\\nHere’s a sneak peek:\\n${screenshotUrl}\\n` : ''}\n\n**README Highlights:**\n${readmeText.substring(0, 1000)}\n\nKeep it concise, visually appealing, and easy to read. Make sure it stands out in the LinkedIn feed!\n`;\n\nreturn [{ json: { prompt, repoName, repoDesc, readmeText, repoUrl, liveDemo, githubHandle, linkedin, twitter, screenshotUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        80
      ],
      "id": "af03c0a2-f07d-412b-9939-46d41e304e0e",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        220,
        60
      ],
      "id": "50bf7d86-7b99-4d24-bf0f-d30dbc4fc4bf",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let output = $json.output || '';\n\n// Extract the first image URL from Markdown in the AI output\nlet screenshotUrl = '';\nconst imgMatch = output.match(/!\\[.*?\\]\\((.*?)\\)/);\nif (imgMatch && imgMatch[1]) {\n  screenshotUrl = imgMatch[1];\n}\n\n// Remove any Markdown image from the AI output\noutput = output.replace(/!\\[.*?\\]\\((.*?)\\)/g, '');\n\n// Convert **bold** to <b>\noutput = output.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\n\n// Convert Markdown bullet points to HTML <ul><li>\noutput = output.replace(/(?:^|\\n)[ \\t]*[-*][ \\t]+(.+)/g, '<li>$1</li>');\nif (output.includes('<li>')) {\n  output = output.replace(/(<li>[\\s\\S]*<\\/li>)/g, '<ul>$1</ul>');\n}\n\n// Convert #hashtags to colored spans\noutput = output.replace(/#(\\w+)/g, '<span style=\"color:#0077b5;\">#$1</span>');\n\n// Replace multiple line breaks with <br>\noutput = output.replace(/\\n{2,}/g, '<br><br>');\noutput = output.replace(/\\n/g, '<br>');\n\n// Always add the image at the end if screenshotUrl exists\nif (screenshotUrl) {\n  output += `<br><img src=\"${screenshotUrl}\" alt=\"Screenshot\" style=\"max-width:100%;margin-top:16px;border-radius:8px;\">`;\n}\n\nconst output_html = `\n<div style=\"max-width:600px;margin:24px auto;padding:24px;border:1px solid #e0e0e0;border-radius:12px;font-family:Segoe UI,Arial,sans-serif;background:#fff;\">\n  <div style=\"font-size:18px;font-weight:bold;color:#0077b5;margin-bottom:12px;\">LinkedIn Post Preview</div>\n  <div style=\"font-size:16px;line-height:1.6;color:#222;\">\n    ${output}\n  </div>\n</div>\n`;\n\nreturn {\n  ...$json,\n  output_html,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        0
      ],
      "id": "6036921c-d86d-432b-83bc-3249d14bd351",
      "name": "Code2"
    }
  ],
  "pinData": {
    "GitHub Webhook": [
      {
        "json": {
          "headers": {
            "host": "rohitrawal.app.n8n.cloud",
            "user-agent": "GitHub-Hookshot/fb6e15e",
            "content-length": "8184",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "140.82.115.62",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94ff6de8a0a3aa23-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.62, 104.23.211.163",
            "x-forwarded-host": "rohitrawal.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-63-757945c69-8vdjl",
            "x-github-delivery": "d507676e-49a3-11f0-8738-07c706561ea4",
            "x-github-event": "push",
            "x-github-hook-id": "552243206",
            "x-github-hook-installation-target-id": "1001952208",
            "x-github-hook-installation-target-type": "repository",
            "x-hub-signature": "sha1=b95689f37c7a3c9e989d019cb627e2951c444df5",
            "x-hub-signature-256": "sha256=3bc1dd75951dad251dd1474922a9da195ea55291be8a06a4139b395d98ccd5d0",
            "x-is-trusted": "yes",
            "x-real-ip": "140.82.115.62"
          },
          "params": {},
          "query": {},
          "body": {
            "ref": "refs/heads/main",
            "before": "a1426c3610dd140b12d81f87eb039ee8d5ba5fa3",
            "after": "768616877e91efe21ceb94aab0b11387476fdac8",
            "repository": {
              "id": 1001952208,
              "node_id": "R_kgDOO7iT0A",
              "name": "linkedn-post-automater",
              "full_name": "Mohit242-bit/linkedn-post-automater",
              "private": false,
              "owner": {
                "name": "Mohit242-bit",
                "email": "mohit25rawat@gmail.com",
                "login": "Mohit242-bit",
                "id": 184728585,
                "node_id": "U_kgDOCwK8CQ",
                "avatar_url": "https://avatars.githubusercontent.com/u/184728585?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/Mohit242-bit",
                "html_url": "https://github.com/Mohit242-bit",
                "followers_url": "https://api.github.com/users/Mohit242-bit/followers",
                "following_url": "https://api.github.com/users/Mohit242-bit/following{/other_user}",
                "gists_url": "https://api.github.com/users/Mohit242-bit/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/Mohit242-bit/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/Mohit242-bit/subscriptions",
                "organizations_url": "https://api.github.com/users/Mohit242-bit/orgs",
                "repos_url": "https://api.github.com/users/Mohit242-bit/repos",
                "events_url": "https://api.github.com/users/Mohit242-bit/events{/privacy}",
                "received_events_url": "https://api.github.com/users/Mohit242-bit/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/Mohit242-bit/linkedn-post-automater",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater",
              "forks_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/forks",
              "keys_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/teams",
              "hooks_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/hooks",
              "issue_events_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/issues/events{/number}",
              "events_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/events",
              "assignees_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/assignees{/user}",
              "branches_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/branches{/branch}",
              "tags_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/tags",
              "blobs_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/languages",
              "stargazers_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/stargazers",
              "contributors_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/contributors",
              "subscribers_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/subscribers",
              "subscription_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/subscription",
              "commits_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/contents/{+path}",
              "compare_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/merges",
              "archive_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/downloads",
              "issues_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/issues{/number}",
              "pulls_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/labels{/name}",
              "releases_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/releases{/id}",
              "deployments_url": "https://api.github.com/repos/Mohit242-bit/linkedn-post-automater/deployments",
              "created_at": 1749901794,
              "updated_at": "2025-06-15T04:42:23Z",
              "pushed_at": 1749962844,
              "git_url": "git://github.com/Mohit242-bit/linkedn-post-automater.git",
              "ssh_url": "git@github.com:Mohit242-bit/linkedn-post-automater.git",
              "clone_url": "https://github.com/Mohit242-bit/linkedn-post-automater.git",
              "svn_url": "https://github.com/Mohit242-bit/linkedn-post-automater",
              "homepage": null,
              "size": 16,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main",
              "stargazers": 0,
              "master_branch": "main"
            },
            "pusher": {
              "name": "Mohit242-bit",
              "email": "mohit25rawat@gmail.com"
            },
            "sender": {
              "login": "Mohit242-bit",
              "id": 184728585,
              "node_id": "U_kgDOCwK8CQ",
              "avatar_url": "https://avatars.githubusercontent.com/u/184728585?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/Mohit242-bit",
              "html_url": "https://github.com/Mohit242-bit",
              "followers_url": "https://api.github.com/users/Mohit242-bit/followers",
              "following_url": "https://api.github.com/users/Mohit242-bit/following{/other_user}",
              "gists_url": "https://api.github.com/users/Mohit242-bit/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/Mohit242-bit/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/Mohit242-bit/subscriptions",
              "organizations_url": "https://api.github.com/users/Mohit242-bit/orgs",
              "repos_url": "https://api.github.com/users/Mohit242-bit/repos",
              "events_url": "https://api.github.com/users/Mohit242-bit/events{/privacy}",
              "received_events_url": "https://api.github.com/users/Mohit242-bit/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "forced": false,
            "base_ref": null,
            "compare": "https://github.com/Mohit242-bit/linkedn-post-automater/compare/a1426c3610dd...768616877e91",
            "commits": [
              {
                "id": "768616877e91efe21ceb94aab0b11387476fdac8",
                "tree_id": "fce6538ee8f43d4174e0dbb0015c6deaed2337f7",
                "distinct": true,
                "message": "linked in post",
                "timestamp": "2025-06-15T10:17:24+05:30",
                "url": "https://github.com/Mohit242-bit/linkedn-post-automater/commit/768616877e91efe21ceb94aab0b11387476fdac8",
                "author": {
                  "name": "Mohit Pramod Singh Rawat",
                  "email": "mohit25rawat@gmail.com",
                  "username": "Mohit242-bit"
                },
                "committer": {
                  "name": "GitHub",
                  "email": "noreply@github.com",
                  "username": "web-flow"
                },
                "added": [
                  "vsdV.txt"
                ],
                "removed": [],
                "modified": []
              }
            ],
            "head_commit": {
              "id": "768616877e91efe21ceb94aab0b11387476fdac8",
              "tree_id": "fce6538ee8f43d4174e0dbb0015c6deaed2337f7",
              "distinct": true,
              "message": "linked in post",
              "timestamp": "2025-06-15T10:17:24+05:30",
              "url": "https://github.com/Mohit242-bit/linkedn-post-automater/commit/768616877e91efe21ceb94aab0b11387476fdac8",
              "author": {
                "name": "Mohit Pramod Singh Rawat",
                "email": "mohit25rawat@gmail.com",
                "username": "Mohit242-bit"
              },
              "committer": {
                "name": "GitHub",
                "email": "noreply@github.com",
                "username": "web-flow"
              },
              "added": [
                "vsdV.txt"
              ],
              "removed": [],
              "modified": []
            }
          },
          "webhookUrl": "https://rohitrawal.app.n8n.cloud/webhook/github-automation",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Check Commit Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Commit Message": {
      "main": [
        [
          {
            "node": "Get Repository Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repository Info": {
      "main": [
        [
          {
            "node": "Get README",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get README": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfa1c3a0-6a39-40e8-9101-c2f714e20c07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfa3b3505afb3da235a91e45b85af491c82c0b0c87729e360d040e398e9b11c4"
  },
  "id": "2poXOUkPgj5yuyz2",
  "tags": []
}